<h3>Novo usuário registrado</h3>

Um novo usuário se registrou em vigilavi.org.

Se ainda não foi ativado por outro administrador, você pode ativá-lo  e configurar o acesso em <a href="vigilavi.org">vigilavi.org</a>.



